<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>local.screenlockenforcement</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/screenlock.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/var/log/screenenforcement.log</string>
	<key>StandardErrorPath</key>
	<string>/var/log/screenlockenforcement_err.log</string>
	<key>StartInterval</key>
	<integer>1800</integer>
</dict>
</plist>